.spa-content {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  color: black;
  background: #48611b;
}

/*list-page header*/

.list {
  background: orange;
  width: 375px;
  height: 75px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}


/*list-page body*/

.panel-1 {
  /*background: #48611b;*/
  height: 750px;
  width: 375px;
  /*opacity: 0.7;*/
}

/*list-page button*/

.add-appt {
  float: right;
  position: relative;
  top: -40px;
  margin: 5px;
  padding: 0  5px 0 5px;
  background: yellow;
  color: black;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  border-radius: 5px;
  border: none;
}


.panel-1 li {
  color: black;
  font-size: 16px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

/*indiviual appt items on list page*/

.app-item {
  width: 225px;
  border: 3px double red;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  background: white;
}

/*.panel-1 ul {
  padding: 5px;
  border: 1px dashed black;
  margin: auto;
}*/
/*list-page search input*/

/*.search {
  padding: 1em;
  margin: auto;
  border-radius: 5px;
  border: none;
  /*width: 300px;*/
/*}/*/

/*new-appt page header*/

.new-appt {
  background: pink;
  width: 375px;
  height: 75px;
  text-align: center;
  margin: auto;
}

/*new-appt body*/

.panel-2 {
  background: purple;
  height: 750px;
  width: 375px;
}

/*new-appt button*/


.show-list-page {
  float: right;
  position: relative;
  top: 10px;
  margin: 5px;
  padding: 0  5px 0 5px;
  background: yellow;
  color: black;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: none;

}

/*appt-info forms */

.appt-info {
  padding-top: 15px;
  text-align: center;
}

.appt-info input {
  display: block;
  padding: 1em;
  margin: auto;
  width: 300px;
  font-family: 'Cabin', sans-serif;
}

.save-it {
  width: 300px;
  margin: auto;
  margin-top: 15px;
  padding: 5px;
  background: yellow;
  color: black;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}
