.spa-content {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: 'Lobster Two', cursive;
  color: black;
  background: #48611b;
  overflow: auto;
}

/*list-page header*/


.list {
  background: orange;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

h1 {
  position: relative;
  font-size: 50px;
}

/*list-page body*/

.panel-1 {
  background: #48611b;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

/*list-page button*/

.add-appt {
   position: absolute;
   background: yellow;
   color: black;
   text-transform: uppercase;
   font-family: 'Cabin', sans-serif;
   font-size: 30px;
   height: 1em;
   border-radius: 2.5px;
   border: none;
   outline: none;
   top: 35px;
   right: 30px;
   bottom: 10px;
   line-height: 5px;
}

.add-button {
  margin-bottom: 5px;

}
.panel-1 li {
  color: black;
  font-size: 16px;
  margin: auto;
  text-align: center;
  padding: 3px;
}

/*indiviual appt items on list page*/

.app-item {
  width: 225px;
  border: 2px solid #d70c20;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  background: white;
  font-size: 25px;

}

.app-item li {
  font-size: 22px;
}

/*new-appt page header*/

.new-appt {
  background: orange;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

/*new-appt body*/

.panel-2 {
  background: #48611b;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.panel-2 h1 {
  position: relative;
  font-family: 'Lobster Two', serif;
}

/*new-appt button*/

.show-list-page {
  position: absolute;
  background: yellow;
  color: black;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  border-radius: 2.5px;
  border: none;
  outline: none;
  top: 35px;
  left: 15px;
  line-height: 5px;
  height: 1em;
}


/*appt-info forms */

.appt-info {
  padding-top: 15px;
  text-align: center;
}

.appt-info input {
  display: block;
  padding: 1em;
  margin: auto;
  width: 200px;
  font-family: 'Cabin', sans-serif;
  outline-color: #d70c20;
  font-size: 18px;
}

textarea {
  display: block;
  padding: 1em;
  margin: auto;
  width: 203px;
  font-family: 'Cabin', sans-serif;
  outline-color: #d70c20;
  font-size: 18px;
}

textarea, .datepicker, .timepicker {
  outline-color: #d70c20;
}

.save-it {
  width: 175px;
  height; 125px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 150px;
  padding: 5px;
  background: yellow;
  color: black;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline-color: #d70c20;
}

.panel-3 {
  height: 1500px;
  background: #48611b;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.panel-3 h1 {
  position: relative;
}

.appt-details {
  font-family: 'Lobster Two', serif;
  font-size: 30px;
  text-align: center;
  background: orange;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.deet-view {
  padding: 5px;
  width: 200px;
  height: auto;
  background: white;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  border: 2px solid #d70c20;
  font-size: 20px;
}

.deet-view li {
  list-style-type: none;
  text-align: center;
  padding: 5px;
}

.weather {
  padding: 5px;
  width: 200px;
  height: 100px;
  background: white;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  border: 2px solid #d70c20;
}

.weather h3 {
  padding-top: 25px;
  font-size: 40px;
  font-family: 'Lobster Two', serif;
}

.delete {
  position: absolute;
}

.return-to-list {
   position: absolute;
   background: yellow;
   color: black;
   text-transform: uppercase;
   font-family: 'Cabin', sans-serif;
   font-size: 30px;
   border-radius: 2.5px;
   border: none;
   outline: none;
   top: 35px;
   left: 15px;
   line-height: 5px;
   height: 1em;
}
